
#Bluesky
BLUESKY_HANDLE=seubot.bsky.social
BLUESKY_APP_PASSWORD=xxxx-xxxx-xxxx-xxxx

# Mastodon
MASTODON_INSTANCE_URL=https://mastodon.social
MASTODON_ACCESS_TOKEN=access_token_gerado

# Lista de instâncias do mastodon
# separadas por vírgula
# se vazia utiliza apenas a MASTODON_INSTANCE_URL

MASTODON_INSTANCES=https://mastodon.social,https://masto.nu,https://mastodon.online,https://organica.social,https://bolha.us

# Banco de dados
#
DB_PATH=../bd/database.db
