
#Bluesky
BLUESKY_HANDLE=seubot.bsky.social
BLUESKY_APP_PASSWORD=xxxx-xxxx-xxxx-xxxx

# Mastodon
MASTODON_INSTANCE_URL=https://mastodon.social
MASTODON_ACCESS_TOKEN=access_token_gerado

# Banco de dados
#
DB_PATH=../bd/database.db
